* {
  box-sizing: border-box;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}