*, *:before, *:after {
  box-sizing: border-box;
  color: var(--color-onBackground);
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button, input, select {
  border: none;
  background: transparent;
}

button:focus, input:focus, select:focus {
  outline: none;
}

a {
  text-decoration: none;
}